.o_form_view.kio_finished_good_verification_form {
    .o_form_sheet_bg {
        max-width: none;
        width: 100%;
    }

    .o_form_sheet {
        max-width: none;
        width: 100%;
    }
}
